<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<% const esAdministrador = roles.some((rol) => rol === 'Administrador')%>
<% const esCliente = roles.some((rol) => rol === 'Cliente') %>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="background-color: #52489C">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/inicio">
            <strong>LA FLOTA</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

            <%- include('../compartido/menu/menu-component') %>

            <% if(esAdministrador){ %>
                <div class="md-form my-0" >
                    <a class="btn btn-outline-white mr-sm-2 btn-rounded" href="/administrador/perfil" >Cuenta</a>
                </div>

                <div class="md-form my-0" >
                    <a class="btn btn-outline-white mr-sm-2 btn-rounded" href="/logout">Salir</a>
                </div>
            <% } else { %>
                <% if(esCliente){ %>
                    <div class="md-form my-0" >
                        <a class="btn btn-outline-white mr-sm-2 btn-rounded" href="/perfil" >Cuenta</a>
                    </div>

                    <div class="md-form my-0" >
                        <a class="btn btn-outline-white mr-sm-2 btn-rounded" href="/logout">Salir</a>
                    </div>
                <% } else { %>
                    <div class="md-form my-0" >
                        <a class="btn btn-outline-white mr-sm-2 btn-rounded" href="/login" >Iniciar Sesión</a>
                    </div>

                    <div class="md-form my-0" >
                        <a class="btn btn-outline-white mr-sm-2 btn-rounded" href="/registro">Registrarse</a>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container-fluid mt-lg-5">
    <div class="row">
        <%- include('./administrador') %>
        <div class="col-md-9 tab-content">
            <form method="post" action="<%= '/administrador/catalogo/auto/editar/'+ auto.id_autos %>">
                <div class="card-body border">
                    <div class="md-form text-center" style="font-size: 30px; color: #0d0d0d">
                        Actualizar Datos del Automovil
                    </div>
                    <div class="md-form text-center">
                        <img
                                id="image-auto-rent-edit2"
                                class="rounded mx-auto d-block img-fluid"
                                src="/uploads/<%= auto.source %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="form_nombre2">Nombre Auto</label>
                        <input
                                type="text"
                                id="form_nombre2"
                                class="black-text form-control"
                                name="nombre"
                                value="<%= auto.nombre %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="form_motor2">Placa Auto</label>
                        <input
                                type="text"
                                id="form_motor2"
                                class="black-text form-control"
                                name="numMotor"
                                value="<%= auto.numMotor %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="form_precio2">Precio Auto</label>
                        <input
                                type="number"
                                id="form_precio2"
                                class="black-text form-control"
                                name="precio"
                                value="<%= auto.precio %>"
                        />
                    </div>
                    <div class="form-group">
                        <input
                                type="file"
                                accept="image/*"
                                class="form-control black-text form-control"
                                id="form_file2"
                                name="source"
                        />
                    </div>
                    <div class="text-center mt-4">
                        <button
                                type="submit"
                                id="addnewButton"
                                class="btn waves-effect waves-light btn-rounded"
                                style="background-color: #52489c"
                        >
                            Actualizar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br>
<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>